
<head>

<title>Der Teppich International: Search Results</title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="container-fluid">

<div class="row">
  
  <h1 style="margin-top: 3%; margin-left: 3%">Search Result(s)</h1>
  
  <%= render :partial => 'carpet', collection: @carpets %>

</div>

</div>

<%= render :partial => 'shared/footer' %>	
	
</body>