<footer class="footer">
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-3" style="text-align: center">
       <p>©2017 Der Teppich International</p> 
     </div>
     <div class="col-md-7">
        <div class="col-md-3" id="footerlink" style="text-align: center"><a href="/handloomweave">handloom weave</a></div>
        <div class="col-md-2" id="footerlink" style="text-align: center"><a href="/handknotted">hand knotted</a></div>
        <div class="col-md-2" id="footerlink" style="text-align: center"><a href="/handtufted">hand tufted</a></div>
        <div class="col-md-3" id="footerlink" style="text-align: center"><a href="/handloomdurries">handloom durries</a></div>
        <div class="col-md-2" id="footerlink" style="text-align: center"><a href="/contact">contact</a></div>
     </div>
     <div class="col-md-2" style="text-align: center">
        <%= fa_stacked_icon "facebook", base: "square-o", :class => "fa-1x" %>
     </div>
   </div>
 </div>
</footer>