
<head>

<title>Der Teppich International</title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage4">
     </figure>

     <div class="DerCaption">
      <h1>Hand Knotted</h1>
      <p class="CarpetType">Well-liked for its elegant style and unique craftsmanship, these type of carpets are adored all around the world. A hand knotted rug is a unique work of art. Every piece is laboriously and patiently worked upon by a skilled weaver, who ties each knot individually, creating a truly distinctive masterpiece. The joys of owning a hand knotted rug go beyond its one-of-a-kind nature.</p>
     </div>

</div>

<div class="container-fluid">
  
  <h2 style="margin-top: 1.5%">Hand Knotted</h2>
  
  <div class="row">  
   <div id="carpetfeed"> 
     <%= render :partial => 'shared/carpet', collection: @carpets %>
   </div>  
  </div>
 

  <div class="row" style="margin-top: 3%; text-align: center">
    <%= paginate @carpets %>
  </div>

</div>  

<%= render :partial => 'shared/footer' %>   
	
</body>