
<head>

<title>Der Teppich International</title>

</head>

<body>

<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage3">
     </figure>

     <div class="DerCaption">
      <h1>Handloom Durries</h1>
      <p class="CarpetType">These types of carpets are made from the finest wool making it look better and beautiful. In India, the tradition of making carpets by human hands results in highest quality and superfine feel. These can be made only by the finest carpet weavers in the inlands of India with special designs and unique patterns.</p>
     </div>

</div>

<div class="container-fluid">
  
  <h2 style="margin-top: 1.5%">Handloom Durries</h2>
  
  <div class="row">  
   <div id="carpetfeed">
     <%= render :partial => 'shared/carpet', collection: @carpets %>
   </div>  
  </div>
 

  <div class="row" style="margin-top: 3%; text-align: center">
    <%= paginate @carpets %>
  </div>

</div>

<%= render :partial => 'shared/footer' %>   

	
</body>