
<head>

<title>Der Teppich International</title>

</head>

<body>


<%= render 'shared/navbar' %>


<div class="PhotoArea">
     
     <figure class="DerImage2">
     </figure>

     <div class="DerCaption">
      <h1>Handloom Weaves</h1>
      <p style="font-size: 12pt">The exquisite beauty and brilliant designs of the Hand Woven Carpets have been the key reasons behind the popularity of the collection. It's a line that merges traditional skills with modern technology, blending Indian aesthetics with contemporary tastes. A range that is exclusively for the world beyond India.</p>
     </div>

</div>

<div class="container-fluid">
  
  <h2 style="margin-top: 1.5%">Handloom Weaves</h2>
  
  <div class="row">  
    <div id="carpetfeed">
     <%= render :partial => 'shared/carpet', collection: @carpets %>
    </div> 
  </div>
 

  <div class="row" style="margin-top: 3%; text-align: center">
    <%= paginate @carpets %>
  </div>

</div>  

<%= render :partial => 'shared/footer' %> 
	
</body>