
<head>

<title>Der Teppich International</title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage1">
     </figure>

     <div class="DerCaption">
      <h1>Hand Tufted</h1>
     </div>

</div>

<div class="container-fluid">
  
  <h2 style="margin-top: 3%">Hand Tufted</h2>
  
 <% if @handtufted.present? %>  
  <div class="row">  
   <% @handtufted.each do |carpet| %>
     <%= render :partial => 'shared/carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

</div>

<%= render :partial => 'shared/footer' %> 
	
</body>