
<head>

<title>Der Teppich International</title>

</head>

<body>

<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage">
     </figure>

     <div class="DerCaption">
      <h1>Handloom Durries</h1>
     </div>

</div>

<div class="container-fluid">
  
  <h2>Handloom Durries</h2>
  
  <% if @handloomdurries.present? %>
  <div class="row" style="margin-top: 3%">  
   <% @handloomdurries.each do |carpet| %>
     <%= render :partial => 'shared/carpet', locals: { carpet: carpet } %>
   <% end %>
  </div>
  <% end %>

	
</body>