
<head>

<title>Der Teppich International</title>

</head>

<body>


<%= render 'shared/navbar' %>


<div class="PhotoArea">
     
     <figure class="DerImage2">
     </figure>

     <div class="DerCaption">
      <h1>Handloom Weaves</h1>
     </div>

</div>

<div class="container-fluid">
  
  <h2 style="margin-top: 3%">Handloom Weaves</h2>
  
  <% if @handloomweave.present? %>
  <div class="row">  
  <% @handloomweave.each do |carpet| %>
    <%= render :partial => 'shared/carpet', locals: { carpet: carpet } %>
  <% end %>
  </div>
  <% end %>

</div>  

<%= render :partial => 'shared/footer' %> 
	
</body>