
<head>

<title>Der Teppich International</title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage1">
     </figure>

     <div class="DerCaption">
      <h1>Hand Tufted</h1>
      <p style="font-size: 12pt">These types of carpets can be made by hand or by machine. The carpets tend to vary in color, designs and the patterns that are used on them, to provide unique and wonderful feel wherever they are used for home décor furnishing. Tufted woolen carpets are also one of the best looking carpets out there.</p>
     </div>

</div>

<div class="container-fluid">
  
  <h2 style="margin-top: 1.5%">Hand Tufted</h2>
  
  <div class="row">  
   <div id="carpetfeed"> 
     <%= render :partial => 'shared/carpet', collection: @carpets %>
   </div>  
  </div>
 

  <div class="row" style="margin-top: 3%; text-align: center">
    <%= paginate @carpets %>
  </div>

</div>

<%= render :partial => 'shared/footer' %> 
	
</body>