
<head>

<title>Der Teppich International</title>

</head>

<body>

<%= render 'shared/navbar' %>

<div class="PhotoArea">
     
     <figure class="DerImage3">
     </figure>

     <div class="DerCaption">
      <h1>Handloom Durries</h1>
     </div>

</div>

<div class="container-fluid">
  
  <h2 style="margin-top: 3%">Handloom Durries</h2>
  
  <div class="row">  
   <div id="carpetfeed">
     <%= render :partial => 'shared/carpet', collection: @carpets %>
   </div>  
  </div>
 

  <div class="row" style="margin-top: 3%; text-align: center">
    <%= paginate @carpets %>
  </div>

</div>

<%= render :partial => 'shared/footer' %>   

	
</body>