
<head>

<title>Der Teppich International: Carpets</title>

</head>

<body>


<%= render 'shared/navbar' %>

<div class="container-fluid">

<div class="row">
  
  <%= render :partial => 'carpet', collection: @carpets %>

</div>

</div>
	
</body>