// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.NavbarTransparent
{
	background-color: transparent;
	border: transparent;
}

.Brand
{
   font-family: 'Cookie', cursive;
   font-size: 30pt;
}

#Brand a:link
{
	color: #FFD700;
}

#Brand a:hover
{
	color: #FFD700;	
}

#Brand a:visited
{
	color: #FFD700;	
}

#button
{
	font-size: 18pt;
}

#button a:link
{
	color: black;
	text-decoration: none;
}


#button a:hover
{
   	color: black;
	text-decoration: none;	
}


#button a:visited
{
    color: black;
	text-decoration: none;		
}

.LinkCollection
{
	margin-left: 150px;
}

*
{
	font-family: 'Englebert', sans-serif;
}

.PhotoArea
{
	display: block;
	position: relative;
	width: 100%;
	height: 350px;
  color: #fff;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
	.PhotoArea
	{
	  height: 350px;
	  margin-top: 3%;
	}
}

@media only screen and (max-width: 500px) {
	.PhotoArea
	{
	  margin-top: 4%;
	}
}

@media only screen and (min-width: 767px) {
  .HomeSmall
  {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .HomeLarge
  {
    display: none;
  }
}

.DerImage
{
  transition: opacity .4s;
  position: absolute;
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("main.jpg"));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}


.DerImage1
{
	transition: opacity .4s;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("handtufted.png"));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.DerImage2
{
	transition: opacity .4s;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("handloomweave.png"));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.DerImage3
{
	transition: opacity .4s;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("handloomdurries.png"));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.DerImage4
{
	transition: opacity .4s;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset-path("handknotted.png"));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.DerCaption
{
    webkit-transform: translateY(-50%); 
 	transform: translateY(-50%);
    position: relative;
    top: 70%;
    left: 1rem;
    max-width: calc(100% - 1.25em);
    color: white;
}

.CarpetType
{
  font-size: 14pt;
}

@media only screen and (max-width: 767px) {
  
  .DerCaption
  {
     top: 60%;
  }

  .CarpetType
  {
     font-size: 12pt;
  } 

}

.CarpetBox
{
  height: 300px;
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 100%;
  margin-top: 3%;	
  margin-left: auto;
  margin-right: auto;
}

.CarpetBox1
{
  height: 500px;
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 100%;
  margin-top: 3%; 
  margin-left: auto;
  margin-right: auto;
}

.CarpetImageBox
{
	height: 240px;
}

.fitimg
{
	height: 100%;
	width: 100%;
}

.CarpetDesc
{
  font-size: 13pt;
}

.CarpetDescriptionBox
{
	padding: 5px;
	height: 120px;
}

.CarpetCategory
{
	padding: 5px;
}

.fitpreview
{
	width: 100%;
	height: 100%;
}

.carouselimage
{
	height: 350px;
}

#footerlink a:link
{
  color: white;
}


#footerlink a:hover
{
  color: white;
}


#footerlink a:visited
{
  color: white;
}